* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html,
body {
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

button {
  height: 30px;
  width: 50px;
}

.main {
  display: flex;
  height: 100vh;
}

.appbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
  background-color: rgb(225, 216, 245);
}

.input-search {
  width: 400px;
  height: 30px;
  margin-right: 10px;
  padding-left: 10px;
}

.btn-search {
  width: 200px;
  height: 30px;
}

.button-options {
  display: flex;
  gap: 10px;
  width: 200px;
  justify-content: center;
}

.sidebar {
  width: 260px;
  flex-shrink: 0;
  background-color: rgb(243, 244, 255);
  height: 100%;
  overflow: auto;
  font-size: 16px;
  color: black;
}

.list-sidebar {
  padding-left: 20px;
}

.list-sidebar__item {
  padding: 15px 10px;
  border-bottom: 1px solid rgb(192, 193, 211);
}

.item-title {
  font-size: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.form-modal {
  position: relative;
  max-height: calc(100vh - 100px);
  max-width: calc(100vw - 100px);
  width: 50%;
  padding: 40px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.form-label {
  display: flex;
  flex-direction: column;
}

.textarea,
.form-input {
  display: block;
  border: 1px solid rgb(192, 193, 211);
  border-radius: 4px;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.textarea {
  height: 200px;
  resize: none;
}

.form-modal__close {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.form-modal__close:hover,
.form-modal__close:focus {
  color: red;
}

.submit-button {
  width: 40%;
  background-color: rgb(243, 244, 255);
  border: solid 1px rgb(192, 193, 211);
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(225, 216, 245);
}

.workspace {
  word-break: break-all;
  width: 100%;
  color: black;
}

.workspace-date {
  font-size: 16px;
  color: #989797;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.workspace-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

.workspace-text {
  font-size: 14px;
  font-weight: 400;
}
